.container {
  color: #ff80f3;
  background-color: #9a47cb;
  text-align: center;
}

h2 {
  margin: 0 auto;
  padding: 0;
}
i {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
a {
  color: #94f6f2;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #ff80f3;
}

/* //color palette
.first-color { 
	background: #d7aef3; 
} light purple
	
.second-color { 
	background: #94f6f2; 
} light blue neon

.third-color { 
	background: #f7f680; 
} yellow

.fourth-color { 
	background: #fbd0f5; 
} light pink*/

/* .first-color { 
	background: #9a47cb; 
} violet
	
.second-color { 
	background: #ff80f3; 
} pink

.third-color { 
	background: #ffd48b; 
} light orange

.fourth-color { 
	background: #fff079; 
}light yellow*/
