card {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #d7aef3;
}
/* //color palette
.first-color { 
	background: #d7aef3; 
}
	
.second-color { 
	background: #94f6f2; 
}

.third-color { 
	background: #f7f680; 
}

.fourth-color { 
	background: #fbd0f5; 
} */
